/*****
Foglio di stile per code challing with Boolean!
1- General setting
2- Head
3- Available Scooter
4- Text settings
*****/

/* Index General Setting */
* {

  box-sizing: border-box;
  margin:0;

}

body{

  background-image: url(background.jpg);
  background-size: cover;
  font-family: sans-serif;

}
/* Head Setttings */

header {

  text-align: center;

}

.logo {
  width: 200px;
  margin: auto;
}

.title {

  color: lime;
  margin-top: 10px;
  margin-bottom: 5px;

}

nav {

  text-align: center;
  padding: 10px;
  background-color: lime;

}

/* Available Scooter Settings */

.container {

  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 25px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  padding: 70px;
  border-radius: 2%;

}

hr {

  height: 30px;
  border-radius: 5px;
  border:0;

}

.scooter {

  margin-top: 20px;
  margin-bottom: 30px;
  color: white;

}

.scooter>h3 {

  display: inline;

}

#charge {

  width:35%;
  background-color:#ffc355;

}

#charge2 {

  width: 55%;
  background-color:#0ee20e;

}

#charge3 {

  width: 15%;
  background-color: #cb3939;

}

/* Text Settings */

h3, p {

  margin: 4px;

}
